/* Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}
/* Style **/

/*add players*/

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 5fr;
}
.openModalContainer {
    display: grid;
    grid-column-start: span 3;
    grid-row-start: 1;
}

.addPlayersButton {
    align-self: center;
    justify-self: center;
    width: 50%;
}
.boardViewport {
    grid-column-start: 2/3;
    grid-row-start: 2;
    display: grid;
    align-self: center;
    justify-content: center;
}
.playerOneDisplay {
    display: grid;
    grid-column-start: 1 span;
    grid-row: 2;
    height: 15vh;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.playerOneNameDisplay {
    margin: auto;
}

.active {
    background-color: green;
    color: white;
}

.playerTwoDisplay {
    display: grid;
    grid-column-start: 3/4;
    grid-row: 2;
    height: 15vh;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.playerTwoNameDisplay {
    margin: auto;
}

/*gameboard*/
.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    justify-content: center;
}

#c1 {
    border-right: 5px black solid;
    border-bottom: 5px black solid;
}

#c2 {
    border-right: 5px black solid;
    border-bottom: 5px black solid;
    border-left: 5px black solid;
}

#c3 {
    border-bottom: 5px black solid;
    border-left: 5px black solid;
}

#b1 {
    border-top: 5px solid black;
    border-right: 5px black solid;
    border-bottom: 5px solid black;
}

#b2 {
    border: 5px black solid;
}

#b3 {
    border-left: 5px black solid;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

#a1 {
    border-top: 5px solid black;
    border-right: 5px solid black;
}

#a2 {
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#a3 {
    border-top: 5px solid black;
    border-left: 5px solid black;
}

.cell {
    height: 25vh;
    width: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
}

.cell:hover {
    background-color: lightgray;
    cursor: pointer;
}
